@import '../../../../styles.scss';

h5 {
    a {
        color: $dark-text;
    }
}

button.btn-link {
    color: $dark-text;
}

div.card-body {
    padding-left: 2rem !important;
}

div.accordion-col {
    padding-left: 0px;
}

.panel.customClass {
    background-color: transparent !important;
    border: 0px;
  }

.news-item--card-header {
    background-color: transparent !important;
    border: 0px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img.user-avatar {
    border-radius: 18px;
    height: 36px;
    height: 36px
}