<form>
    <div class="form-group">
        <h5>
            <a [href]="url">{{ title }}</a>
        </h5>
        <p> {{ summary }}</p>
    </div>
    <div class="form-group">
        <accordion>
            <accordion-group>
                <button class="btn btn-block btn-link clearfix" accordion-heading>
                    <div class="pull-left float-left">
                        <span>{{ comments.length }}
                            <i class="far fa-comment"></i>
                        </span>
                    </div>
                </button>
                <div *ngFor="let userComment of comments" class="row">
                    <div class="col-1">
                        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid" width="36" height="36" xmlns="http://www.w3.org/2000/svg"
                            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 36x36">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#eee"></rect>
                            <text x="50%" y="50%" fill="#aaa" dy=".3em">img</text>
                        </svg>
                    </div>
                    <div class="col">
                        <p>{{ userComment.comment }}</p>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div class="form-group" *ngIf="facebook.user | async">
        <button class="btn btn-light" tooltip="Add comment"><i class="far fa-comment"></i></button>
    </div>
</form>