<div class="row">
    <h5>
        <span>
            <a [href]="url">{{ title }}</a>
        </span>
    </h5>
    <p> {{ summary }}</p>
</div>
<div class="row">
    <div class="col accordion-col">
        <accordion>
            <accordion-group [panelClass]="customClass">
                <div class="accordion-header" accordion-heading>
                    <div class="pull-left float-left">
                        <span>{{ (comments | async)?.length }}
                            <i class="far fa-comments"></i>
                        </span>
                    </div>

                    <button (click)="onAddComment()" *ngIf="canAddComment | async"
                        class="btn btn-light float-right pull-right" tooltip="Create comment">
                            <i class="far fa-comment"></i>
                    </button>

                    <button (click)="onEditComment()" *ngIf="canEditComment | async"
                        class="btn btn-light float-right pull-right" tooltip="Edit comment">
                            <i class="far fa-comment-dots"></i>
                    </button>

                    <div class="pull-left float-left">
                            <ngx-spinner [attr.name]="spinnerName" [fullScreen]="false" type="ball-pulse" size="small"></ngx-spinner>
                    </div>
                </div>
                <div *ngFor="let userComment of comments | async" class="row">
                    <div class="col-1">
                        <img class="user-avatar" [src]="getUserPictureUrl(userComment)">
                    </div>
                    <div class="col">
                        <p>
                            <strong>{{ userComment.title }}</strong>
                        </p>
                        <p>{{ userComment.comment }}</p>
                    </div>
                </div>

                <div *ngIf="(comments | async)?.length === 0">
                    <p>There are no comments yet.</p>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>