<div class="row">
    <h5>
        <span>
            <a [href]="url">{{ title }}</a>
        </span>
    </h5>
    <p> {{ summary }}</p>
</div>
<div class="row">
    <div class="col accordion-col">
        <accordion>
            <accordion-group [panelClass]="customClass">
                <button class="btn btn-block btn-link clearfix" accordion-heading>
                    <div class="pull-left float-left">
                        <span>{{ comments.length }}
                            <i class="far fa-comment"></i>
                        </span>
                    </div>
                    <div class="pull-left float-left">
                            <ngx-spinner [attr.name]="spinnerName" [fullScreen]="false" type="ball-pulse" size="small"></ngx-spinner>
                        </div>
                </button>
                <div *ngFor="let userComment of comments" class="row">
                    <div class="col-1">
                        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid" width="36" height="36" xmlns="http://www.w3.org/2000/svg"
                            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 36x36">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#eee"></rect>
                            <text x="50%" y="50%" fill="#aaa" dy=".3em">img</text>
                        </svg>
                    </div>
                    <div class="col">
                        <p>
                            <strong>{{ userComment.title }}</strong>
                        </p>
                        <p>{{ userComment.comment }}</p>
                    </div>
                </div>
            </accordion-group>
            <accordion-group *ngIf="facebook.user | async">
                <button class="btn btn-block btn-link clearfix" tooltip="Add comment" (click)="onAddComment()" accordion-heading>
                    <div class="pull-left float-left">
                        <i class="far fa-comment"></i>
                    </div>
                </button>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col">
                        <form>
                            <div class="form-group">
                                <label for="titleInput">Proposed title</label>
                                <input type="text" class="form-control" id="titleInput" aria-describedby="titleHelp" placeholder="Enter proposed title">
                                <small id="titleHelp" class="form-text text-muted">If you think this post deserves a better title, propose one.</small>
                                <label for="commentInput">Comment</label>
                                <input type="text" class="form-control" id="commentInout" aria-describedby="commentHelp" placeholder="Enter comment">
                                <small id="commentHelp" class="form-text text-muted">Please share your comment (required)</small>
                                <button class="btn btn-light float-right" tooltip="Create comment">
                                    <i class="fas fa-paper-plane">Send</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>