<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <ul>
                    <li>&copy; 2019 Microsoft Azure Usergroup Poland</li>
                    <li><img class="maugp-logo" src="assets/maugp.png"></li>
                </ul>
                
            </div>
            <div class="col-sm">
                    Built with love, using:
                    <ul>
                        <li><img class="tech-logo" src="assets/angular.png"></li>
                        <li><img class="tech-logo"src="assets/rxjs.png"></li>
                    </ul>
                </div>
            <div class="col-sm">
                Authors:
                <ul>
                    <li><a href="">@mmisztal1980</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>