<div class="container">
    <div class="row">
        <div class="col-sm">
            <ul>
                <li>&copy; 2019 Microsoft Azure Usergroup Poland</li>
                <li>
                    <img class="maugp-logo" src="assets/maugp.png">
                </li>
            </ul>
        </div>
        <div class="col-sm">
            Authors:
            <ul>
                <li>
                    <a href="">@mmisztal1980</a>
                </li>
            </ul>
        </div>
        <div class="col-sm">
            <div class="container-fluid tech-list">
                <img class="tech-logo" src="assets/azure.png">
                <img class="tech-logo" src="assets/azure-devops.png">
                <img class="tech-logo" src="assets/azure-functions.png">
                <img class="tech-logo" src="assets/azure-logic-apps.png">
                <img class="tech-logo" src="assets/terraform.png">
                <img class="tech-logo" src="assets/angular.png">
                <img class="tech-logo" src="assets/rxjs.png">
            </div>
        </div>
    </div>
</div>