@import '../styles.scss';

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

div.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  padding-left:   0 !important;
  padding-right:  0 !important;

  header {
    background: $light-background;
  }

  footer {
    margin: auto 0 0 0;
    padding-top: 1em;
    background: $dark-background;
    color: $light;
  }
}