<div class="container">
    <div class="row top-pager">
        <form>
            <div class="form-group">
                <input name="datepicker" [(ngModel)]="date"
                    type="text" placeholder="Datepicker" class="form-control" bsDatepicker>
            </div>
        </form>
    </div>
    <div class="row news-item" *ngFor="let item of news">
        <app-news-item
            [title]="item.title" 
            [summary]="item.summary" 
            [url]="item.url">
        </app-news-item>
    </div>
</div>