/* You can add global styles to this file, and also import other style files */
$light: #f8f9fa;
$light-background: #f8f9fa;
$dark-background: #212529;

body {
    min-height: 100vh;
}

.container {
    max-width: 960px;
}