<header>
        <!-- <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
          <h5 class="my-0 mr-md-auto font-weight-normal">{{ title }}</h5>
          <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" routerLink="">
              <i class="fas fa-home"></i>
            </a>
          </nav>
          <button type="button" class="btn" *ngIf="(!!(service.user | async)) === false" (click)="login();">
            <i class="fab fa-facebook"></i>
          </button>
          <img class="user-avatar" *ngIf="(service.userPicture | async) as picture" [src]="picture.url">
        </div> -->
        <nav class="navbar navbar-expand-md fixed-top bg-light my-2 my-md-0 mr-md-3">
          <!-- <a class="navbar-brand" href="#">{{ title }}</a> -->
          <h5 class="my-0 mr-md-auto font-weight-normal">{{ title }}</h5>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <!-- <li>
                    <a class="p-2 text-dark" routerLink="">
                        <i class="fas fa-home"></i>
                      </a>
                </li> -->
            </ul>
            <div class="mt-2 mt-md-0">
              <a class="p-2 text-dark" routerLink="">
                <i class="fas fa-home"></i>
              </a>
              <button type="button" class="btn" *ngIf="(!!(service.user | async)) === false" (click)="login();">
                <i class="fab fa-facebook"></i>
              </button>
              <img class="user-avatar" *ngIf="(service.userPicture | async) as picture" [src]="picture.url">
            </div>
            <!-- <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form> -->
          </div>
        </nav>
      </header>